<ion-view view-title="О Нас" hide-nav-bar="true">
  <ion-content style="background: #191C2F">

    <div class="row">
      <div class="col" style="padding-top: 20px">
        <h1 style="color: #fff; margin-bottom: 10px">О Программе</h1>
        <span class="" style="color: #888B9E">mafia v1 <span style="padding: 3px 20px; background: #25273C; border-radius: 20px;">mafia v 2.0a</span></span>
      </div>
    </div>
    <div class="row">
      <div class="col" style="padding-top: 20px; color: #EFF1F0">
        <p style="margin: 0 15px 10px; font-weight: 300;">
          Мы рады приветствовать Вас в нашем приложении.
          Приложение создано для общего рейтинга и удобство игроков. Так как мир не стоит на месте мы развиваем нашу игру и в сфере технологий.
          <br>
          <br>
          Если Вам понравилось наше приложение и Вы хотите отблагодарить или поддержать проект, вы всегда можете отправить средства на банковскую карту ниже.
        </p>


        <ul class="list">
          <li class="item" style="background: #21233e; border-radius: 5px; border-color: transparent; margin-bottom: 5px">
            <img src="img/credit-card-green.svg" alt="" style=" float: left; width: 40px; margin-right: 10px;">
            <h5 style="display: inline-block; font-size: 18px; color: #fff; float: left;">4863 - 9007 - 8923 - 3771</h5>
            <span style="display: inline-block; float: right; color: #fff;font-size: 13px; ">КаспиБанк</span>
          </li>
          <li class="item" style="background: #21233e; border-radius: 5px; border-color: transparent; margin-bottom: 5px">
            <img src="img/credit-card.svg" alt="" style=" float: left; width: 40px; margin-right: 10px;">
            <h5 style="display: inline-block; font-size: 18px; color: #fff; float: left;">5269 - 9400 - 0809 - 6481</h5>
            <span style="display: inline-block; float: right; color: #fff;font-size: 13px; ">Евразийский</span>
          </li>
          <li class="item" style="background: #21233e; border-radius: 5px; border-color: transparent; margin-bottom: 5px">
            <img src="img/credit-card-green.svg" alt="" style=" float: left; width: 40px; margin-right: 10px;">
            <h5 style="display: inline-block; font-size: 18px; color: #fff; float: left;">5447 - 7203 - 0597 - 4050</h5>
            <span style="display: inline-block; float: right; color: #fff;font-size: 13px; ">ЦентрКредит</span>
          </li>
          <h3 style="color: #fff; font-size: 15px; padding: 5px 15px; background: #25273C; border-radius: 5px; margin-top: 5px">Телефон: <span style="letter-spacing: 2px;">+77789725262</span></h3>
        </ul>

        <p style="margin: 0 15px 10px; font-weight: 300;">
          <b>В  планах по приложению:</b>
        </p>

        <ul class="list">
          <li class="itemMy">- Сделать онлайн трансляцию всех клубов</li>
          <li class="itemMy">- Сделать общий рейтинг</li>
          <li class="itemMy">- Интеграция с сайтом ФИИМ</li>
          <li class="itemMy">- Анализ данных каждого игрока</li>
          <li class="itemMy">- Помощник выявление ошибок игрока</li>
          <li class="itemMy">- Улучшение статистики для Ведущего</li>
          <li class="itemMy">- Определение качество собранного стола (По истории игр каждого игрока)</li>
          <li class="itemMy">- Обучение новых членов клуба (Задание и очки за исполнение)</li>
          <li class="itemMy">- Статистика для привлечение спонсоров и инвесторов</li>
          <li class="itemMy">- Оповещение о всех турниров</li>
          <li class="itemMy">- Ставка игровых очков на победу черных либо красных</li>
        </ul>

        <p style="margin: 0 15px 10px; font-weight: 300;">
          * все ваши средства пойдут на улучшение приложения и так же вся сумма будет разыгрываться в турнирах.
        </p>

        <ul class="list">
          <li class="item" style="background: #21233e; border-radius: 5px; border-color: transparent; margin-bottom: 5px">
            <img src="img/trophy.svg" alt="" style=" float: left; width: 40px; margin-right: 10px;">
            <p style="display: block; max-width: 83%; float: left; color: #fff;font-size: 13px; ">* все ваши средства пойдут
              <br>на улучшение приложения <br>и так же вся сумма будет <br>разыгрываться в турнирах.</p>
          </li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>

