<ion-view view-title="Список клубов" hide-nav-bar="true">
  <ion-content class="padding">
    <div class="list">
      <a class="item item-thumbnail-left" href="#">
        <img src="images/club/imperia.jpg">
        <h2>ИмперияZ</h2>
        <p>г. Астана</p>
      </a>
      <a class="item item-thumbnail-left" href="#">
        <img src="images/club/gangstabar.jpg">
        <h2>Gangstabar</h2>
        <p>г. Астана</p>
      </a>
      <a class="item item-thumbnail-left" href="#">
        <img src="images/club/hq.jpg">
        <h2>Преступление и наказание</h2>
        <p>г. Караганды</p>
      </a>
      <a class="item item-thumbnail-left item-button-right" href="#">
        <img src="images/club/gg.jpg">
        <h2>Город Грехов</h2>
        <p>г. Алматы</p>

        <button class="button button-assertive">
          <i class="icon ion-fireball"></i>
        </button>
      </a>
    </div>
  </ion-content>
</ion-view>
