<ion-view view-title="Список клубов">
  <ion-content class="padding">
    <div class="list">
      <a ng-repeat="club in clubList" class="item item-thumbnail-left item-button-right" ng-href="#/club-profile/{{club.clubID}}">
        <img ng-src="{{'https://ucarecdn.com/' + club.avatar + '/'}}.jpg">
        <h2>{{club.name}}({{club.ceo}})</h2>
        <p>г. {{club.city}}</p>

        <button class="button button-assertive">
          <i class="icon ion-fireball"></i>
        </button>
      </a>
    </div>
  </ion-content>
</ion-view>

