<ion-view view-title="День" hide-nav-bar="true">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-button-right item-icon-left" ng-repeat="chat in chats track by chat.slot" type="item-text-wrap" on-swipe-left="onSwipeRight(chat)">


        <h2><div on-hold="kick(chat)">{{chat.lastText}} {{chat.name}}</div></h2>
        <button class="button button-large button-assertive" ng-click="upPenalty(chat)">
          <span ng-show="chat.penalty < 3">{{chat.penalty}}</span>
          <span ng-show="chat.penalty == 4">3</span>
          <span ng-show="chat.penalty == 3">3🔇</span>
          <span ng-show="chat.penalty > 4">У</span>
        </button>
        <i class="icon ion-thumbsup dark" ng-click="voted(chat)" on-hold="kick(chat)" ng-hide="chat.status == 'participant'"></i>
      </ion-item>
    </ion-list>

    <div class="row">
      <div class="col col-100">
        <button class="button button-large button-block  button-balanced" ng-click="startTimer(60)" ng-hide="timerStarted">
          START
        </button>
      </div>
    </div>
    <div class="row" ng-show="timerStarted">
      <div class="col col-25">
        <h1 style="text-align:center;">{{ progressval | number:0}}</h1>
      </div>
      <div class="col col-50">
        <progress id="progressbar" max="60" value="{{ progressval }}"> </progress>
      </div>
      <div class="col col-25">
        <button class="button button-block  button-positive" ng-click="stopTimer()">
          STOP
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
